/* Font Faces */

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* selectors in multiple elements or universal selectors */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #2d2d2d;
    height: 100%;
}

/* HEADER Section */
.header {
    display: flex;
    flex-wrap: wrap;
}

.logo, .icon {
    padding-top: 10px; 
    padding-bottom: 10px;
}

/* Logo in the header section */
.logo {
    order: 1;
    width: 50%;
}

.logo img {
    height: 40px;
    width: 145px;
}

/* this targets the logo, icon, and nav. */
.header-item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Nav in the header section */
.header-nav {
    order: 3;
    width: 100%;
    border-top: 1.5px solid #d7d7d7;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header-nav ul {
    padding: 0;
}

.header-nav li {
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    flex: 1;
    display: inline-block;
}

.header-nav a:hover {
    color: #b64036;
}

.header-nav a {
    color: #e2574c;
    list-style: none;
    text-decoration: none;
}

/* Icon in the header section */
.icon {
    order: 2;
    width: 50%;
    justify-content: flex-end;
}

.icon img {
    height: 80px;
    width: 50px;
    padding-right: 8px;
}

/* MAIN Section */
main {
    width: 100%;
}

/* Banner Section */
.banner {
    position: relative;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-position: center, center 50px, center;
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
}

.banner-text {
    text-align: center;
    color: white;
}

.new-collection {
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /* add rem */
    text-transform: uppercase;
} 

.springsummer {
    font-family: 'Playfair Display', sans-serif;
    font-size: 35px; /* add rem */
    font-weight: normal;
    text-align: center;
}

/* Hand Craft Section */

.hand-craft {
    text-align: center;
    height: 285px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.hand-crafted-word {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.7rem;
}

.styles-word {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.7rem;
}

.hand-craft p {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1.5em;
}

/* Category Section */
.category-container {
    flex-wrap: wrap;
    display: flex;
}

.category-item {
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.category-item h3:hover {
    color: #f5ebc6;
}

.mens-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/mens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
    height: 50vw;
    width: 100vw;
    border-bottom: 8px solid white;
}

.trends-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/trends-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 2;
    width: 50vw;
    height: 50vw;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.glasses-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/glasses-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 3;
    width: 50vw;
    height: 50vw;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.sales-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/sale-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 4;
    width: 50vw;
    height: 50vw;
    border-top: 4px solid white;
    border-right: 4px solid white;
}

.bags-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/bags-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 5;
    width: 50vw;
    height: 50vw;
    border-top: 4px solid white;
    border-left: 4px solid white;
}

.womens-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/womens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 6;
    height: 50vw;
    width: 100vw;
    border-top: 8px solid white;
}

/* Slide Section */
.carousel {
    height: 500px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 120px;
}

.main-carousel {
    padding: 0;
}

.carousel-header-text {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.most-loved {
    font-style: italic;
    font-weight: lighter;
    color: black;
    font-size: 2.7rem;
}

.products-text {
    font-weight: 580;
    font-size: 2.7rem;
}

.main-carousel h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: red;
    font-weight: lighter;
}

.carousel li {
    list-style: none;
}

.carousel-cell {
    text-align: center;
    width: 100%;
}

.carousel-cell p {
    color: #969696;
    font-size: 1.1rem;
}

/* Subscription Section */
.subscription {
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/wave-bkgd.jpg);
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;
    flex-direction: column;
    align-items: center;
    padding-top: 3.8rem;
}

.subscription-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscription-text h2 {
    font-family: 'Playfair Display', sans-serif;
}

.sign-text {
    font-style: italic;
    font-weight: normal;
    font-size: 3rem;
}

.update-text {
    font-size: 3rem;
}

.subscription-text p {
    font-weight: lighter;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
}

/* Form section  */
.entire-form {
    height: 45px;
    display: flex;
    justify-content: center;
}

.form-container {
    position: relative;
    width: 360px;
    max-width: 100%;
    outline: none;
}

input[type="text"] {
    border: none;
    font-size: 1.2rem;
}

::-webkit-input-placeholder {
    color: #969696;
    font-weight: lighter;
}

.email-container {
    padding-left: 20px;
    border-radius: 50px;
    width: 100%;
    height: 46px;
}

.button-container {
    background-color: #e2574c;
    border-radius: 50px 50px 50px 50px;
    height: 38px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 5px;
    font-size: 1.08rem;
    color: white;
    border: none;
}

.button-container:hover {
    background-color: #b64036;
}

/* Footer Section */
.about {
    background-color: #242424;
    height: 300px;
    border-top: 6px solid white;
    bottom: 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

footer h3 a:hover {
     color: #b64036;
}

footer h3 {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: normal;
}

.footer-address {
    color: #969696;
    font-size: 1.4rem;
}

.footer-detail {
    order: 1;
    width: 100%;
}

.footer-nav {
    display: flex;
}

.footer-detail h3 {
    font-size: 1.4rem;
}

.footer-item {
    display: flex;
    justify-content: center;
}

.footer-nav li {
    padding: 0;
    list-style: none;
    color: white;
}

.social-media {
    order: 2;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
    margin: 15px;
}

.social-media a:hover {
    color: #b64036;
}

.facebook {
    order: 1;
    width: 20%;
}

.twitter {
    order: 2;
    width: 20%;
}

.instagram {
    order: 3;
    width: 20%;
}

.pinterest {
    order: 4;
    width: 20%;
}

.google {
    order: 5;
    width: 20%;
}

.social-media span {
    display: none;
}

/* Media Queries */
@media (min-width: 600px) {
    /* * {
        border: 1px solid red;
    } */
    /* Header Section */
    .header-nav {
        margin: 0;
    }

    .logo {
        order: 1;
        width: 25%;
        padding: 0;
    }

    .logo img {
        height: auto;
        margin-left: 10px;
    }

    .header-nav {
        order: 2;
        width: 60%;
        border: none;
    }

    .icon {
        order: 3;
        width: 15%;
    }

    .icon img {
        padding-right: 0;
        margin-right: 10px;
    }

    .header-nav li {
        font-size: 1rem;
    }
    
    .header-nav ul {
        margin-top: 50px;
    }

    /* Categories Section (Mens, Trends, Glasses) */
    .category-item {
        border: none;
    }

    .mens-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/mens-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        order: 1;
        height: 25vw;
        width: 50vw;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
    }
    
    .trends-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/trends-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        order: 2;
        width: 25vw;
        height: 25vw;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
    }
    
    .glasses-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/glasses-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        order: 3;
        width: 25vw;
        height: 25vw;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
    }
    
    .sales-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/sale-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        order: 4;
        width: 25vw;
        height: 25vw;
        border-top: 4px solid white;
        border-right: 4px solid white;
    }
    
    .bags-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/bags-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        order: 5;
        width: 25vw;
        height: 25vw;
        border-left: 4px solid white;
        border-top: 4px solid white;
        border-right: 4px solid white;
    }
    
    .womens-category {
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/womens-category.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        order: 6;
        height: 25vw;
        width: 50vw;
        border-left: 4px solid white;
        border-top: 4px solid white;
    }

    /* Carousel Section  */
    .carousel-cell {
       width: 50vw;
    }

    .carousel-cell h2 {
        font-size: 1.7rem;
    }

    /* Footer Section  */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 380px;
    }

    .footer-item {
        justify-content: space-between;
    }

    .footer-detail {
        width: 70vw;
        height: 50px;
        order: 1;
        margin-top: 5rem;
        align-items: flex-start;
        margin-left: 4rem;
    }

    .footer-detail h3 {
        text-align: left;
    }

    .footer-nav {
        width: 30vw;
        height: 280px;
        order: 2;
        margin-top: 2rem;
    }

    .social-media {
        flex-direction: column;
        display: flex;
        margin: 0;
    }

    .social-media li {
        flex-direction: column;

    }
    .social-media a {
        flex-direction: row;
        display: flex;
    }

    .fab {
        display: flex;
        order: 1;
    }

    .social-media span {
        font-family: 'Raleway', sans-serif;
        padding-left: 1.1rem;
        display: inherit;
        order: 2;
        font-size: 1.3rem;
    }

    .fa-lg {
        font-size: 1.3rem;
    }
}

@media (min-width: 1240px) {
    /* Header Section */
    .header {
        justify-content: space-between;
    }

    .logo {
        width: 30% 
    }

    .logo img {
        margin-left: 2rem;
    }

    .header-nav {
        width: 35%;
    }

    .header-nav a {
        font-size: 1.3rem;
    }

    .icon {
        width: 25%;
    }

    .icon img {
        margin-right: 2rem;
    }

    /* Banner Section  */
    .banner {
        position: relative;
        height: 400px;
        background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
        url(images/banner-girl.png), url(images/flower-bkgd.jpg);
        background-position: center, center 40px, center;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: cover, 14rem 33rem, contain;
    }

    /* Hand-Crafted Styles Section  */
    .hand-craft p {
        margin-left: 20rem;
        margin-right: 20rem;
        line-height: 2.5rem;
    }

    /* Carousel Section  */
    .carousel-cell {
        width: 25vw;
    }

    /* Subscription Section  */
    .subscription-text p {
        margin-left: 26rem;
        margin-right: 26rem;
        line-height: 2rem;
    }

    /* Footer Section  */
    .about {
        height: 380px;
    }

    .footer-detail {
        margin-left: 5rem;
    }

    .footer-nav {
        height: 280px;
    }

    .social-media {
        margin-left: 4.5rem;
    }
}





