/* Font Faces */

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* selectors in multiple elements */
/* :root {
    font-size: 62.5%;
} */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 100%;
    /* background-color: blue; */
}

body {
    font-family: 'Raleway', sans-serif;
}


/* HEADER Section */

.header {
    display: flex;
    flex-wrap: wrap;
}

/* Border Line in the Header section */

.logo, .icon {
    /* border-bottom: 0.5px solid grey; */
    padding-top: 10px; 
    padding-bottom: 10px;
}


/* Logo in the header section */
.logo {
    order: 1;
    width: 50%;
    /* background-color: lightcoral; */
    /* justify-content: flex-start; */
    /* padding-left: 5px; */
    /* justify-content: flex-start; */
}

.logo img {
    height: 40px;
    width: 145px;
    /* padding-top: 10px; */
}

.header-item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 0.2px #ccc dotted; */
}

/* Nav in the header section */
.header-nav {
    order: 3;
    width: 100%;
    border-top: 0.3px solid grey;
    text-align: center;
    margin: 15px;
    /* background-color: lightgreen; */
}

.header-nav ul {
    /* justify-content: space-around; */
    /* background-color: lightcyan; */
    padding: 0;
}

.header-nav li {
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* add rem */
    flex: 1;
    display: inline-block;
}

.header-nav a {
    color: #e2574c;
    list-style: none;
    text-decoration: none;
}

/* Icon in the header section */
.icon {
    order: 2;
    width: 50%;
    justify-content: flex-end;
    /* background-color: lightskyblue; */
}

.icon img {
    height: 80px;
    width: 50px;
    padding-right: 8px;
}

/* MAIN Section */

main {
    width: 100%;
}

/* Banner Section */

.banner {
    position: relative;
    /* margin: 0 auto; */
    /* height: 100vh; */
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-position: center, center 50px, center;
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
}

.banner-text {
    text-align: center;
    color: white;
}

.new-collection {
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /* add rem */
    text-transform: uppercase;
    /* max-width: 100%;
    order: 1; */
} 

.springsummer {
    font-family: 'Playfair Display', sans-serif;
    font-size: 35px; /* add rem */
    font-weight: normal;
    text-align: center;
    /* max-width: 100%;
    order: 2; */
}

/* Hand Craft Section */

.hand-craft {
    text-align: center;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.hand-craft h2 {
    font-size: 2rem;

}

.hand-crafted-word {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: normal;
}

.styles-word {
    font-family: 'Playfair Display', sans-serif;
    /* font-weight: nor */
}

.hand-craft p {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


/* Category Section */

.category-container {
    flex-wrap: wrap;
    display: flex;
}

.category-item {
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.mens-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/mens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
    height: 50vw;
    width: 100vw;
    border-bottom: 8px solid white;
}

.trends-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/trends-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 2;
    width: 50vw;
    height: 50vw;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.glasses-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/glasses-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 3;
    width: 50vw;
    height: 50vw;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.sales-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/sale-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 4;
    width: 50vw;
    height: 50vw;
    border-top: 4px solid white;
    border-right: 4px solid white;
}

.bags-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/bags-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 5;
    width: 50vw;
    height: 50vw;
    border-top: 4px solid white;
    border-left: 4px solid white;
}

.womens-category {
    background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)),
    url(images/womens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    order: 6;
    height: 50vw;
    width: 100vw;
    border-top: 8px solid white;
}

/* Slide Section */

.carousel {
    padding: 0;
}

.carousel-list {
    padding: 0;
}

.carousel h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: red;
    font-weight: lighter;
}

.most-loved {
    font-style: italic;
    font-weight: lighter;
}

.carousel li {
    list-style: none;
}

.carousel-item {
    text-align: center;
}

.carousel-item p {
    color: #A1A1A1;
}




/* Subscription Section */

.subscription {
    height: 270px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/wave-bkgd.jpg);
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;

}

.subscription-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscription-text h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
}

.sign-text {
    font-style: italic;
    font-weight: normal;
}

.subscription-text p {
    font-weight: lighter;
    font-size: 1.1rem;
}



/* form section */

.entire-form {
    /* background-color: red; */
    height: 15%;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.email-container {

}

.button-container {
    background-color: blue;
}


/* Footer Section */
footer {
    background-color: #363636;
    width: 100%;
    height: auto;
    border-top: 6px solid white;
    /* align-items: center; */
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer h3 {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: normal;
}

.footer-address {
    color: #acacac;
    /* font-family: 'Playfair Display', sans-serif;
    font-weight: normal; */
}

.footer-detail {
    order: 1;
    width: 100%;
}

 /* .footer-nav {
    background-color: lightcoral; 
     text-align: center; 
}  */

.footer-nav {
    height: 100px;
    display: flex;
}

.footer-item {
    display: flex;
    justify-content: center;
}

.footer-nav li {
    padding: 0;
    list-style: none;
    color: white;
}

.social-media {
    order: 2;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
    margin: 15px;
    flex-wrap: wrap;
}

.facebook {
    order: 1;
    width: 20%;
}

.twitter {
    order: 2;
    width: 20%;

}

.instagram {
    order: 3;
    width: 20%;

}

.pinterest {
    order: 4;
    width: 20%;

}

.google {
    order: 5;
    width: 20%;
}

.social-media span {
    display: none;
}

.social-icon {
    display: none;
}

/* Media Queries */

@media (min-wdith) {

}





